<nav class="navbar" role="navigation">
    <div class="container-fluid">
    </div>
</nav>
<div class="col-xs-12 help-main">
    <br />
    <br />
    <button class="btn btn-default btn-danger-custom  btn-lg btn-block" onclick="location.href='main.html#/search'"><span class="glyphicon glyphicon-plus"></span> Add Status</button>
    <br />
    <button class="btn btn-default btn-danger-custom2  btn-lg btn-block" onclick="location.href='main.html#/history'"><span class="glyphicon glyphicon-file"></span> View My History</button>
    <br />
    <br />
    <center>
        <div class="rounded-corners home-tip-box">
            <div><b>Steps:</b></div>
            <div>
                <ol>
                    <li>Id paulo elaboraret ius, quaestio theophrastus pro ex.</li>
                    <li>No offendit adipiscing has, elit antiopam delicatissimi qui eu, atqui vivendum no has.</li>
                    <li>Molestiae abhorreant mnesarchum vix cu, hinc reformidans eos at.</li>
                </ol>
            </div>
        </div>
    </center>
</div>