<div class="col-xs-12" id="main-div">
    <div class="col-xs-12 logo-div"><img src="Images/toshiba-logo-large.png" class="col-xs-8" /><br />DEMO EQUIPMENT STATUS REQUEST TRACKING</div>
    <div class="col-xs-12 form-div">
        <table id="login-table">
            <tr><td class="login-label">Login</td></tr>
            <tr><td class="login-input"><input class="form-control" type="text" id="login" ng-model="login" /></td></tr>
            <tr><td class="login-label">Password</td></tr>
            <tr><td class="login-input"><input class="form-control" type="password" id="password" ng-model="password" /></td></tr>
            <tr><td id="td-error"></td></tr>
            <tr><td class="login-label"><input type="checkbox" id="rememberMe" value="1" ng-model="rememberMe" />&nbsp;&nbsp;Remember me</td></tr>
            <tr><td class="login-button"><input class="common-button" type="button" value="LOGIN" ng-click="LoginUser()" /></td></tr>
        </table>
    </div>
    <div class="col-xs-12 footer-mark">TOSHIBA CORPORATION 2014. ALL RIGHTS RESERVED<br />V1.0<br />FOR INTERNAL USE ONLY</div>
</div>
<style>
    #content {
        max-width:640px;
    }
</style>