<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>  
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />
        <add assembly="Microsoft.SharePoint.Client, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />
        <add assembly="Microsoft.SharePoint.IdentityModel, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />
      </assemblies>
    </compilation>
      <httpRuntime targetFramework="4.0" />
        <identity impersonate="false" />
        <authentication mode="Windows" />        
  </system.web>
    <system.webServer>
        <httpErrors>
            <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="401" prefixLanguageFilePath="" path="http://google.com" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
    <appSettings>
      <add key="DownloadedFilesFolder" value="C:\Projects\Farjad\TAMS.BUSOPS.DemoEquipmentStatusRequest.Mobile\DownloadedFiles\" />
      <add key="SingleEmail" value="fhabib@xelleration.com" />
      <add key="GroupEmails" value="fhabib@xelleration.com;upasha@tams.com" />
      <add key="DownloadedFilesSite" value="http://tusspdev1/sites/busops" />
      <add key="SQLConnection" value="Data Source=tusspdevdb;Initial Catalog=CustomAPP_WSS_Log;User ID=wss_dev_user;Password=pass@word123;"/>

    </appSettings>
</configuration>